body {
    background: #fff;
    min-height: 100% !important;
}

/* UTILITIES */
.white-links a{
    color:#fff;
}
.undecorated-links a{
    text-decoration: none;
}
.underline-offset-8 {
    text-underline-offset: 8px;
}
.letter-spacing-8px {
    letter-spacing: 8px;
}
.underline-black {
    text-decoration: underline;
    text-decoration-color: #008cba;
}
.glyphicon-24 {
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
.vh-100 {
    min-height: 100vh;
}
.h-500-px {
    height: 500px;
}
.h-400-px {
    height: 400px;
}
.h-300-px {
    height: 300px;
}
.h-200-px {
    height: 200px;
}
.h-100-px {
    height: 100px;
}
/* END OF UTILITIES */

/* NAVBAR */
nav#main-nav-lg .upper {
    border-bottom: 2px solid #fff;
    color: #fff;
}

nav#main-nav-lg img {
    /* border-radius: 12px; */
    max-height: 120px;
}

nav#main-nav-lg li {
    list-style: none;
}

nav#main-nav-lg .lower a {
 color: #fff;
 text-decoration: none;
 font-weight: bold;
 padding-right: 16px;
 margin-left: 4px;
}

nav#main-nav-lg .lower a:hover, nav#main-nav-lg .lower a.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}
/* END OF NAVBAR */