<footer id="main-footer-lg" class="bg-primary">
    <div class="container py-2 text-white white-links undecorated-links">
        <div class="row py-5">
            <div class="col-md-6">
                <h1><span class="text-decoration-underline underline-offset-8">SIGN UP</span> FOR NEWSLETTER</h1>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="Enter Your Email Address">
                    <button class="btn btn-primary"><b>Subscribe</b></button>
                </div>
            </div>
        </div>
        <div class="row py-5 border-bottom border-top border-white">
            <div class="col-lg-3 col-md-6">
                <h2 class="mb-3"><span class="text-decoration-underline underline-offset-8">Li</span>nks</h2>
                <ul class="list-unstyled">
                    <li>
                        <a href=""><b>></b>&nbsp;Privacy and Cookie Policy</a>
                    </li>
                    <li>
                        <a href=""><b>></b>&nbsp;Returns and Refund Policy</a>
                    </li>
                    <li>
                        <a href=""><b>></b>&nbsp; Contact Us</a>
                    </li>
                    <li>
                        <a href=""><b>></b>&nbsp;About Us</a>
                    </li>
                    <li>
                        <a href=""><b>></b>&nbsp;Store</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h2 class="mb-3"><span class="text-decoration-underline underline-offset-8">My</span> Account</h2>
                <ul class="list-unstyled">
                    <li>
                        <a href=""><b>></b>&nbsp;My Cart</a>
                    </li>
                    <li>
                        <a href=""><b>></b>&nbsp;My Compare</a>
                    </li>
                    <li>
                        <a href=""><b>></b>&nbsp;My Wishlist</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-12">
                <h2 class="mb-3"><span class="text-decoration-underline underline-offset-8">Op</span>ening Times</h2>
                <table class="w-100">
                    <thead>
                        <tr>
                            <th>Opening Times</th>
                            <th>Mon-Fri</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Workington</td><td>7:30am-5pm</td></tr>
                        <tr><td>Bulawayou</td><td>7:30am-5pm</td></tr>
                        <tr><td>Graniteside</td><td>7:30am-5pm</td></tr>
                        <tr><td>Gazaland</td><td>7:30am-5pm</td></tr>
                    </tbody>
                </table>
                <caption>
                    <small>
                        <i>*Public Holiday & Lock Down hours may vary from above</i>
                    </small>
                </caption>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-6">
                <p class="text-start">
                    Copyright <script>document.write((new Date().getFullYear()))</script> JMann & Co. All rights reserved
                </p>
            </div>
            <div class="col-md-6">
                <p class="text-end">
                    Images may differ from stock and products. T&C's Apply. E&OE
                </p>
            </div>
        </div>
    </div>
</footer>
  