{% extends 'layout.html' %}


{% block main %}
    <section class="container">
        <div class="row pt-3 pb-3">
            <div class="col-12">
                <p>
                    <a href="/">Home</a>
                    &nbsp;>&nbsp;
                    <a href="/about">About Us</a>
                </p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <h1 class="text-start"><b class="underline-black underline-offset-8 letter-spacing-8px">Abo</b>ut Us</h1>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <h3 class="text-start mb-3"><b class="underline-black underline-offset-8 letter-spacing-8px">Our</b> Vision</h3>
                <p>
                    To provide the best quality products and superior service nationwide.
                </p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <h3 class="text-start mb-3"><b class="underline-black underline-offset-8 letter-spacing-8px">Our</b> Values</h3>
                <ul>
                    <li><b>Enthusiasm</b> - We love what we do</li>
                    <li><b>Excellence</b> - Simply the best</li>
                    <li><b>Courage</b> - Do the right thing</li>
                    <li><b>Reliability</b> - Honouring all commitments</li>
                    <li><b>Integrity</b> - Beyond reproach</li>
                    <li><b>Loyalty</b> - Committed to our people, customers and brands</li>
                </ul>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <h3 class="text-start mb-3"><b class="underline-black underline-offset-8 letter-spacing-8px">Our</b> Journey</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum corporis recusandae odit voluptate doloribus nemo aliquam dignissimos est natus nobis?
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In ut accusantium, quasi repellat quis, facere ipsa enim animi ipsum et consequuntur eveniet veritatis corrupti ratione blanditiis? Ea voluptate vero incidunt beatae distinctio fugiat neque iste soluta quisquam. Sint, animi deleniti!
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto officiis nisi pariatur magnam nam, laboriosam deleniti labore non in iste inventore porro est laborum illum, eligendi voluptatum laudantium cupiditate, asperiores ipsam. Excepturi, ipsum non?
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolor quia, fugiat explicabo numquam nam!
                </p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <h3 class="text-start mb-3"><b class="underline-black underline-offset-8 letter-spacing-8px">Our</b> People</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt perferendis animi quam eveniet id qui, quidem aspernatur ipsa, molestias in, distinctio iste voluptatem quo voluptate.
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, corporis. Eius itaque inventore tenetur impedit fuga possimus, amet, est delectus velit repellat, maiores dignissimos quae esse! Dicta ut deserunt ipsum.
                </p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <img src="/public/img/jmann1.jpg" alt="" class="w-100 h-500-px">
            </div>
        </div>
    </section>
{% endblock main %}
    