{% extends 'layout.html' %}


{% block main %}
    <section class="container">
        <div class="row pt-3 pb-3">
            <div class="col-12">
                <p>
                    <a href="/">Home</a>
                    &nbsp;>&nbsp;
                    <a href="/about">About Us</a>
                </p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <h1 class="text-start"><b class="underline-black underline-offset-8">Abo</b>ut Us</h1>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <h3 class="text-start mb-3"><b class="underline-black underline-offset-8">Our</b> Vision</h3>
                <p>
                    To provide the best quality products and superior service nationwide.
                </p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <h3 class="text-start mb-3"><b class="underline-black underline-offset-8">Our</b> Values</h3>
                <ul>
                    <li><b>Enthusiasm</b> - We love what we do</li>
                    <li><b>Excellence</b> - Simply the best</li>
                    <li><b>Courage</b> - Do the right thing</li>
                    <li><b>Reliability</b> - Honouring all commitments</li>
                    <li><b>Integrity</b> - Beyond reproach</li>
                    <li><b>Loyalty</b> - Committed to our people, customers and brands</li>
                </ul>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <h3 class="text-start mb-3"><b class="underline-black underline-offset-8">Our</b> Journey</h3>
                <p>
                    In 1949, brothers Paul and Robert Halsted opened a jointly owned company in Bulawayo and called it Halsted Brothers Ltd. The Company traded in tools, hardware and specialist products to the mines. The company started with 6 employees.
                    <br><br>
                    Our first branch in Salisbury was opened in 1964 in Wynne Street with a Workington branch following in the early seventies. Branches in Umtali and Queque followed in 1974. Throughout the remainder of the century the company focused on growing their product ranges and improving their national footprint and by 1997 had digitized their systems to computers.
                    <br><br>
                    The Company decided to rebrand in 2014 and convert all of their ‘trade stores’ to retail shops, a project which took a little over 6 months and started with the opening of a new branch in Msasa. This is where Halsted Builders Express was born and we introduced our tag line 'serious about quality'.
                    <br><br>
                    Halsted Builders Express is still a family run business and comprises of nine well-appointed branches nationwide: Msasa, Workington, Borrowdale, Mazorodze, Bulawayo, Kwekwe, Masvingo, Mutare and Marondera.
                </p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <h3 class="text-start mb-3"><b class="underline-black underline-offset-8">Our</b> People</h3>
                <p>
                    Our Staff: Our strength is our people and our staff compliment has grown from 6 employees in 1949 to 793 employees in 2019. We are proud to work with professional and experienced staff whom always put the needs of their customers first.
                    <br><br>
                    Our Customers: We love our customers and through their continued support and loyalty we have been able to build and grow together. We are honoured to be able to provide quality products and services to our people, throughout Zimbabwe.
                </p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <img src="/public/img/jmann-about-us.jpg" alt="" class="w-100">
            </div>
        </div>
    </section>
{% endblock main %}
    