<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JMann Website{% endblock title %}</title>
    {% block meta %}
    <meta name="description" content="JMann & Company Zimbabwe a one stop nation wide shop for all your steel, pipes and equipment. We make and sell valves, steel pipes, pvc pipes, couplings, flenges, horse pipes, flenges, shafts, sprockets, gaskets, tubes e.t.c.">
    <meta name="keywords" content="JMann, Steel, pipes, Goprime, engineering, Zimbabwe, workington, shafts, valves, tubes, custom">
    <Meta name="googlebot" content="index, follow" />
    <Meta name="Revist-After" content="7 days">
    <Meta name="city" content="Harare, Bulawayo, Mutare, Gweru">
    <Meta name="country" content="Zimbabwe">
    <Meta name="subject" content="JMann & Company Zimbabwe a one stop nation wide shop for all your steel, pipes and equipment">
    <Meta name="author" content="Mike Zinyoni mike@goprime.systems">
    <Meta name="copyright" content="https://goprime.systems">
  
    <meta name="og:title" content="JMann & Company Website" />
    <meta name="og:type" content="engineering" />
    <meta name="og:url" content="https://go-prime.github.io/jmann-ecommerce/index.html" />
    <meta name="og:image" content="https://go-prime.github.io/jmann-ecommerce/public/img/jmann-logo.png" />
    <meta name="og:site_name" content="JMann & Company Website" />
    <meta name="og:description" content="JMann & Company Zimbabwe a one stop nation wide shop for all your steel, pipes and equipment. We make and sell valves, steel pipes, pvc pipes, couplings, flenges, horse pipes, flenges, shafts, sprockets, gaskets, tubes e.t.c." />
    <link rel="icon" type="image/x-icon" href="https://go-prime.github.io/jmann-ecommerce/public/img/jmann-logo.png">
    {% endblock meta %}
    {% block css %}
    <link rel="stylesheet" href="/public/vendors/bootstrap5/css/yeti.bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css"> -->
    <link rel="stylesheet" href="/public/css/styles.css">
    {% endblock css %}
    {% block styles %}
    {% endblock styles %}
</head>
<body>
    {% block body %}
    {% include 'components/navbar.html' %}
    <main>
        {% block main %}
        <section style="height: 100vh;"></section>
        {% endblock main %}
    </main>
    {% include 'components/footer.html' %}
    {% endblock body %}
    {% block js %}
    <script src="/public/js/main.js"></script>
    {% endblock js %}
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>